html, body {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Average Sans', helvetica, arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #333;

	background: -webkit-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: -moz-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: -ms-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;

}

.container {
	display: flex;
	z-index: 1000;
	position: absolute;
	
}

.content {
	width: 400px;
	padding: 50px;
}


.backgrounds {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
/*	transition: opacity 1s; */
}
#background-over { z-index: 20; }
#background-under { z-index: 10; }

a { 
	color: #666;  
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px dotted #E3D940;
}

a:hover {
	color: #BBB;
}

.project {
	border-left: 2px solid #888;
	padding-left: 10px;
	margin-bottom: 10px;
}

#interested_in {
	margin-left: 1px;
}
.term {
	position: absolute;
    font-size: 1em;
	display: inline;
}

.mobile .text {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
