/* this is used:::
@include phone { } 
@include desktop { } 
*/
html {
  height: 100%; }

html, body {
  margin: 0px;
  padding: 0px; }

body {
  font-family: 'Karla', helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #111;
  background: linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1; }
  body.darkmode {
    color: #EEE !important; }

hr {
  border: 1px solid #AAA;
  margin: 30px 0px; }

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px dotted #E3D940; }
  .darkmode a {
    color: #FFF; }
  a:hover {
    color: #BBB; }

#sections {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 40px;
  padding-bottom: 100px; }
  @media (max-width: 623px) {
    #sections {
      padding: 15px;
      width: calc(100vw - 30px); } }

#logo {
  max-width: 180px; }

section {
  /*    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    border-radius: 0px; */
  width: calc(100% - 20px);
  padding: 30px 10px; }
  @media (max-width: 623px) {
    section {
      line-height: 1.5em; } }
  section .title {
    font-size: 1.0em;
    font-weight: bold;
    background-color: #F3E940;
    display: inline-block;
    padding: 3px 5px; }
    .darkmode section .title {
      color: #333; }

ul {
  padding-left: 20px; }

.spacedlist li {
  margin-top: 30px; }

dots {
  width: calc(50% - 3px);
  border-right: 5px dotted rgba(55, 55, 55, 0.4); }
  dots.height100 {
    height: 100px; }
  dots.height200 {
    height: 200px; }
  dots.height400 {
    height: 400px; }
  .darkmode dots {
    border-right: 5px dotted rgba(195, 195, 195, 0.7); }

.backgrounds {
  /*    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;*/
  opacity: 0.9; }

.background {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  /*	transition: opacity 1s; */ }

#background-over {
  z-index: 20; }

#background-under {
  z-index: 10; }
