$desktop-width: 624px;

@mixin phone {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

/* this is used:::
@include phone { } 
@include desktop { } 
*/

html, body {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Karla', helvetica, arial, sans-serif;
	font-size: 0.9em;
	line-height: 1.5em;
	color: #333;

	background: -webkit-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: -moz-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: -ms-linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
	background: linear-gradient(70deg, #f7f6ea 0%, #ffffff 100%) #F8F8F1;
}

hr {
  border: 1px solid #AAA;
  margin: 30px 0px;
}

br {

}

#sections {
	display: flex;
    flex-direction: column;
	width: 500px;
	padding: 40px;

    @include phone {
        padding: 15px;
        width: calc(100vw - 30px);
    }


}


section {
    background-color: white;
/*    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;*/
    border-radius: 20px;
    width: calc(100% - 40px);
    padding: 30px 20px;

    @include phone {
        font-size: 0.95em;
    }

    & .title {
        font-size: 1.0em;
        font-weight: bold;
        background-color: #F3E940;
        display: inline-block;
        padding: 3px 5px;
    }
}

.spacedlist li {
    margin-top: 40px;
}

dots {
    &.height100 { height: 100px; }
    &.height200 { height: 200px; }
    &.height400 { height: 400px; }
    width: calc(50% - 2px); 
    border-right: 4px dotted #AAA;
}

//* { border: 1px dotted #AAA; margin: -1px;  }


.backgrounds {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0.6;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
/*	transition: opacity 1s; */
}
#background-over { z-index: 20; }
#background-under { z-index: 10; }

a { 
	color: #444;  
	font-weight: bold;
	text-decoration: none;
	border-bottom: 2px dotted #E3D940;
}

a:hover {
	color: #BBB;
}

.project {
	border-left: 2px solid #888;
	padding-left: 10px;
	margin-bottom: 10px;
}

#interested_in {
}
.term {
	position: absolute;
    font-size: 1em;
	display: inline;
}

.mobile .text {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.text {
    font-size: 1.25em;
    line-height: 1.6em;
}
