@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column; } }
#menu-wrapper {
  width: 200px; }

@media only screen and (max-width: 500px) {
  #menu-wrapper {
    width: auto; } }
#menu {
  padding: 30px; }

#biglist-wrapper {
  padding: 30px;
  flex: 1; }

#biglist {
  display: flex;
  flex-wrap: wrap; }

.projectitem {
  padding: 10px;
  opacity: 0.8;
  border-radius: 10px;
  margin: 5px 5px 5px 5px; }
  .projectitem .previewImage {
    max-width: 300px;
    max-height: 300px; }
    .projectitem .previewImage img {
      width: 100%;
      height: auto; }
  .projectitem .title {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block; }

.keywords {
  color: #cccccc; }
  .keywords span {
    margin-right: 5px; }

.backgrounds {
  opacity: 0.5; }

.projectitem, .projectitem * {
  transition: all 700ms cubic-bezier(0.86, 0, 0.07, 1); }

body .projectitem > * {
  opacity: 0;
  max-height: 0 !important; }

body.casualView .projectitem {
  padding: 0px;
  margin: 0px 5px; }
  body.casualView .projectitem .casualdescription {
    opacity: 1;
    max-height: 300px !important; }

body.imagesView .projectitem .previewImage, body.imagesView .projectitem .title {
  opacity: 1;
  max-height: 300px !important; }

body.dataView .projectitem .fulldata {
  opacity: 1;
  max-height: 300px !important; }

body.explanationView .projectitem .title, body.explanationView .projectitem .description {
  opacity: 1;
  max-height: 300px !important; }

body.analogyView .projectitem .title, body.analogyView .projectitem .analogy {
  opacity: 1;
  max-height: 300px !important; }

body.twobytwoView #biglist-wrapper {
  top: 50vh;
  left: 50vw;
  margin-top: -40vmin;
  margin-left: -40vmin;
  position: absolute;
  width: 80vmin;
  height: 80vmin;
  background: url("two_by_two_field.svg") no-repeat;
  border: 10px solid green; }
